@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    min-width: 600px;
}

.section_title {
    color: #0ea5e9;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.section_desc {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

@media (max-width: 1300px) {
    .about_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .img_container {
        margin-bottom: 30px;
    }
}

@media (max-width: 1100px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .title {
        margin-bottom: 20px;
    }

    .description {
        margin-bottom: 30px;
    }

    .stacklist {
        display: grid;
        grid-template-columns: repeat(
            5,
            1fr
        );
        grid-template-rows: repeat(2, auto);
        gap: 10px; 
        list-style: none; 
        padding: 0;
    }

    .title_stack {
        font-size: 27px;
    }

    .section_project1 {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
    }
}

@media (max-width: 900px) {
    .img_about {
        width: 376px;
        height: 256px;

    }
    .img_project1 {
        margin-bottom: 30px;
    }

    .contacts_list {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    
    .contact_item {
        margin-bottom: 20px;
    }
}

@media (max-width: 700px) {
    .header {
        min-width: 500px;
    }
    .list {
        display: none;
    }
    .menu {
        display: block;
        /* padding-right: 40px; */
    }

    .title {
        font-size: 65px;
    }

    .description {
        font-size: 14px;
    }

    .text-info {
        width: 100%;
    }

    .img_author {
        height: 240px;
        width: 270px;
    }

    .section_stack {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title_stack {
        margin-bottom: 30px;
    }
}

/* @media (max-width: 500px) {
    .text-info {
        display: flex;
        justify-content: center;
        align-items: center;
    }
} */
