@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.section_title {
  color: #0ea5e9;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.section_desc {
  font-size: 1.875rem;
  line-height: 2.25rem ;
  font-weight: 700;
}
